.gamepage-container{
  width: 100%;
  height: 950px;
}


.game-main-page {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: 25% 75%;
}

.game-main-page >* {
  border-radius: 10px;
  /* background-color: lightblue; */
}


.ant-slider-rail{
  color: #c9082a;
}

.ant-slider-rail:hover{
  color: #c9082a;
}

.ant-slider-track{
  background-color:#4064a9f9;
  
}
.ant-slider-track:hover{
  color:red;
}

.ant-slider-handle {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;

  --antd-wave-shadow-color: red
}

.ant-slider-handle:hover {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;
  --antd-wave-shadow-color: red 
}

.ant-slider-step{
  color: red;

}

.btn-primary {
  background-color:#224c9af9;
}

.game-search-title{
  font-size: x-large;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.game-search-field {
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}