.gamepage-container{
  width: 100%;
  height: 950px;
}

.game-main-page {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: 25% 75%;
}

.game-main-page > * {
  border-radius: 10px;
}

.ant-slider-rail{
  color: #c9082a;
}

.ant-slider-rail:hover{
  color: #c9082a;
}

.ant-slider-track{
  background-color:#4064a9f9;
  
}
.ant-slider-track:hover{
  color:red;
}

.ant-slider-handle {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;
  --antd-wave-shadow-color: red
}

.ant-slider-handle:hover {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;
  --antd-wave-shadow-color: red 
}

.ant-slider-step{
  color: red;
}

.btn-primary {
  background-color:#224c9af9;
}

.game-search-title{
  font-size: xx-large;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.game-search-field {
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.game-search-field label{
  font-weight:500;
  font-size: 15px;
}

/* ===================== */
/* Game Search output */
/* ===================== */

.game-result-container {
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  overflow: auto;
  padding: 0 5%;
}
.game-result-container >*{
  margin: 10px 0;
  width: 100%;
}

.fun-fact {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 20%;
  /* text-align: center; */
  background: rgba(252, 251, 250, 0.5);
  box-shadow: #17408B 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, #C9082A 40px -40px;
  padding: 5px 15px;
  display: flex;
}

.fun-fact-title{
  text-decoration: underline wavy rgb(51, 95, 172);
  font-weight: 400;
  width: 100%;
  margin: auto;
}
.fun-fact-content{
  font-size: 18px;
  margin: auto;
}

.fun-fact-content .fun-lal{
  color: #552583;
  font-weight: bold;
}

.fun-fact-content .fun-lac{
  color: #1D428A;
  font-weight: bold;
}

.game-row-even{
  font-weight: 400;
}

.game-row-odd{
  background-color: #8099d012;
  font-weight: 400;
}


.game-detail-vis{
  height: 65%;
}

.game-stats-home-away{
  height: 55%;
  width: 100%;
}

.fun-fact-title, .game-teams-history-title, .game-detail-title,.game-search-output-title{
  width: 100%;
  font-size: xx-large;
  margin-left: 10px;
  font-weight: 400;
}

.game-teams-history-chart{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.game-teams-history-chart >*{
  width: 45%;
  background-color: white;
  text-align: center;
  font-size: large;
}
.game-teams-history-title{
  margin-bottom: 20px;
}

.game-output-form .ant-table-thead > tr >th{
  color: white;
  background: #4468ab !important;
}

.game-detail-vis img{
  background-image: url('./dummy.png');
}