.homepage-container{
  width: 100%;
  height: 950px;
}

.navbar {
  position: fixed;
	top: 0;
  width: 100%;
  height: max-content;
}

.main-page {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;
  overflow-y: scroll;
}

.main-page > * {
  background-color: lightgray;
  margin-bottom: 30px;
  width: 100%;
}

.map-container {
  height: 60%;
}

.game-of-the-season-container{
  height: 80%;
}
.gots-video{
  height: 70%;
  width: 100%;
  text-align:center;
}

.pick-video{
  width: 70%;
  height: 90%;
}
.gots-title, .top10-title, .team-map-title {
  width: 100%;
  height: max-content;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.team-map-title{
  font-size: xx-large;
}

.top-10-container{
  height: 50%;
}

