.homepage-container{
  width: 100%;
  height: 950px;
}

.navbar {
  position: fixed;
	top: 0;
  width: 100%;
  height: max-content;
}

.main-page {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;
  overflow-y: scroll;
}

.main-page > * {
  margin-bottom: 30px;
  width: 100%;
  margin-top: 20px;
}

.map-container {
  height: 60%;
  width: 100%;
  margin-bottom: 30px;
  text-align:center;
}

.game-of-the-season-container{
  height: 80%;
}

.gots-video{
  height: 70%;
  width: 100%;
  text-align:center;
}

.pick-video{
  width: 70%;
  height: 90%;
}
.gots-title, .top10-title, .team-map-title {
  width: 100%;
  height: max-content;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  /* margin-bottom: 30px; */
  /* margin-top: 20px; */
}

/* .team-map-title{
  font-size: xx-large;
} */

.team-map{
  width: 90%;
  height: 90%;
  /* text-align: center; */
}

.top-10-container{
  height: 60%;
  margin-top: 80px;
}

.top10-title{
  margin-bottom: 10px;
}