.teampage-container{
  width: 100%;
  height: 950px;
}


.team-main-page {
  margin-top: 80px;
  height: 100%;
  width: 100%;
  padding: 0.75rem 1.5rem;
  display: grid;
  grid-template-columns: 25% 75%;
}

.team-main-page > * {
  border-radius: 10px;
}


.ant-slider-rail{
  color: #c9082a;
}

.ant-slider-rail:hover{
  color: #c9082a;
}

.ant-slider-track{
  background-color:#4064a9f9;
  
}
.ant-slider-track:hover{
  color:red;
}

.ant-slider-handle {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;

  --antd-wave-shadow-color: red
}

.ant-slider-handle:hover {
  border-color: rgb(193, 71, 71) !important;
  background-color: brown !important;
  --antd-wave-shadow-color: red 
}

.ant-slider-step{
  color: red;

}

.btn-primary {
  background-color:#224c9af9;
}

.team-search-title{
  font-size: xx-large;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 20px;
}

.team-search-field {
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-search-field label{
  font-weight:500;
  font-size: 15px;
}


/* ================= */
/* player output */
/* ================= */

.team-result-container {
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  overflow: auto;
  padding: 0 5%;
}

.team-result-container >*{
  margin: 10px 0;
  width: 100%;
}

.team-output-form{
  width: 100%;
}


.team-player_flow_of_year:nth-child(2) > canvas {
  width: min-content;
  height: min-content;
}

.team-search-output-title, .team-performance-title, .team-salary-per-win-title, .team-player_flow_of_year-title{
  width: 100%;
  font-size: xx-large;
  margin-left: 5px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-top: 10px;
}

.team-output-form .ant-table-thead > tr >th{
  color: white;
  background: #4468ab !important;
}

.team-row-even{
  font-weight: 400;
}

.team-row-odd{
  background-color: #8099d012;
  font-weight: 400;
}


.team-performance{
  margin-bottom: 50px;
}


.team-player_flow_of_year{
  background: rgba(252, 251, 250, 0.5);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 10px;
}